@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cabin, sans-serif;
    background-color: rgba(5, 59, 129, 1.0);
}

#sign-up-body {
    height: 1100px;
    width: 100%;
    margin-bottom: 190px;
    position: absolute;
    background: url(../css/images/sign-up-background.jpg) no-repeat center center;
}
/*  Header nav   */
.headers {
    color: orange;
    font-size: 25px;
    text-align: center;
}

.Pre-Order {
    color: white;
    font-size: 60px;
}

#header-nav {
    width: 100%;
    height: 350px;
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgb(208, 243, 55);
    position: absolute;
}
/*  Navigation */
#menu {
    letter-spacing: 4px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: orange;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 3px dashed #fff;
}

.active {
    border-bottom: 2px solid #fff;
}

/* Sign-up Navigation */
#menu-signup {
    letter-spacing: 4px;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu-signup li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: rgb(208, 243, 55);
}

#menu-signup a {
    text-decoration: none;
    color: inherit;
}

#menu-signup a:hover {
    border: 3px dashed #fff;
}

#active {
    border-bottom: 3px solid #fff;
}
/*  Fifa picture and also cover for it. 'the cover is meant to be outside the image by the way' */
#pre-oreder-section {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../css/images/fifa-22.jpg);
    background-repeat: no-repeat;
    position: relative;
}

#pre-order-div {
    width: 500px;
    height: 300px;
    position: absolute;
    margin-top: 500px;
    margin-left: 850px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
    text-align: center;
}

#pre-order-div h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
}

#pre-order-div p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

#pre-order-div span {
    font-size: 35px;
    color: orange;
    text-align: center;
}
/* Home page content  */
#content {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;
}

#content-image {
    width: 40%;
    height: 400px;
    background-color: salmon;
    background: url(../css/images/content-pic.png) no-repeat;
    display: inline-block;
    margin-left: 110px;
    padding-top: 250px;
}

#content-paragrph {
    width: 40%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
    display: inline-block;
    margin-left: 100px;
    color: orange;
    text-align: center;
    border: 3px solid orange;
}

#content-paragrph p {
    text-align: left;
    font-size: 18px;
    color: #fff;
}
/*  Long content goes here!   */
#long-paragraph {
    width: 95%;
    height: 120px;
    margin: 0 auto;
    margin-top: 170px;
    align-items: center;
}

#long-paragraph-div {
    width: 75%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    color: orange;
    border: 4px solid orange;
}

#long-paragraph-div p {
    color: #fff;
    font-size: 20px;
}

#long-paragraph-div span {
    color: orange;
    font-size: 25px;
}
/*  Footer */
#footer {
    width: 100%;
    height: 400px;
    background: url(../css/images/footer-image.jpg) no-repeat center center;
    margin-top: 180px;
    background-size: 100%;
}

#footer h1 {
    color: rgb(208, 243, 55);
    text-align: center;
}

#footer h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    text-transform: uppercase;
}

#footer h3 {
    color: rgb(208, 243, 55);
    text-align: center;
}

.Social-networks {
    font-size: 120px;
    text-align: center;
}

.Social-networks>li {
     display: inline;
} 

.Social-networks i {
    color: rgb(208, 243, 55);
    margin: 35px;
    padding: 20px;
}

.Social-networks i:hover {
    color: orange;
}

.Social-networks a {
    text-decoration: none;
}
/* video and title */
#Trailer-title {
    color: orange;
    font-size: 110px;
    text-align: center;
    margin-top: 455px;
    margin-left: 350px;
    position: absolute;
    text-transform: capitalize;
}
/* Trailer content + div  */
#Trailer-content {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 80%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 128px;
    margin-top: 25px;
    position: absolute;
}
/* Second Trailer content + 2 other div's   */
#Trailer-content-2 {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div2 {
    width: 50%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    display: inline;
}

#Trailer-content-div-3 {
    width: 40%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 850px;
    position: absolute;
    display: inline;
}

#Trailer-content-div h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    font-size: 25px;
}

#Trailer-content-div p {
    color: #fff;
    font-size: 20px;
}

#Trailer-content-div2 h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    font-size: 35px;
}

#Trailer-content-div2 p {
    color: #fff;
    font-size: 23px;
}

#Trailer-content-div-3 {
    color: rgb(208, 243, 55);
    font-size: 30px;
    text-align: center;
}

#Trailer-content-div-3 p {
    color: #fff;
    font-size: 20px;
}
/*  Form  */
#form-section {
    margin-top: 300px;
    margin-left: 200px;
}

.legend {
    font-size: 28px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 450px;
    position: absolute;
    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 23px;
}
/* New media Queries--- from 270px to 2560px*/
@media screen and (max-width:2560px) {
    /* start of my index.html queries (2560px)*/
    footer > h1, h2, h3{
        font-size: 50px
        }
        #footer{
            background-size: 100%;
        }
        .Social-networks {
            font-size: 65px;
        }
        #menu {
            font-size: 100px;
        }
        #pre-oreder-section {
            width: 1880px;
            height: 1120px;
            background-size: 100% ;
        }
        
        #pre-order-div {
            width: 800px;
            height: 400px;
            margin-top: 700px;
            margin-left: 1150px;
        }
        
        #pre-order-div h1 {
            font-size: 80px;
        }
        
        
        #pre-order-div p { 
            font-size: 50px;
        }
        
        #pre-order-div span {
            font-size: 55px;
        }

        #content {
            width: 100%;
            height: 800px;
            margin-top: 205px;
        position: relative;
        }
        
        #content-image{
            width: 800px;
            height: 780px;
            margin-left: 1400px;
            background-size: 100%;
            position: absolute;
        }
        
        #content-paragrph {
            width: 800px;
            height: 770px;
           position: absolute;
            margin-left: 370px;
        }
        
        #content-paragrph p {
            font-size: 42px;
        }
        #content-paragrph > h3, h2{
            font-size: 47px;
        }
        #long-paragraph {
            width: 100%;
            height: 400px;
            position: relative;
            margin-top: 90px;
            }
            
            #long-paragraph-div {
            width: 1600px;
            height: 400px;
            margin: auto;
            }
            
            #long-paragraph-div p {
            font-size: 42px;
            }
            
            #long-paragraph-div > h2{
                font-size: 47px;
            }
        /* End of my index.html queries (2560px)*/
        /* start of my more.html queries (2560px)*/
        #Trailer-content-div-3 > p{
            font-size: 22px;
        }
        #Trailer-content {
            height: 420px;
        }
        
        #Trailer-content-div {
            height: 360px;
            margin-left: 268px;
        }
        #Trailer-content-div > p{
            font-size: 35px;
        }
        
        #video-div{
            margin-left: 600px;
        }
        #Trailer-content-2 {
            height: 300px;
        }
        #Trailer-content-div > h2{
            font-size: 35px;
        }
        
        #Trailer-content-div2 {
            height: 250px;
        }
        #Trailer-content-div2 > p{
            font-size: 35px;
        }
        #Trailer-content-div2 > h2{
            font-size: 35px;
        }

        #Trailer-content-div-3 > p{
            font-size: 35px;
        }
        #Trailer-content-div-3 > h2{
            font-size: 35px;
        }
        
        #Trailer-content-div-3 {
            height: 250px;
            margin-left: 1430px;
        }
        /* end of my more.html queries (2560px)*/
        /* Start of my sign-up.html queries (2560px)*/
        #sign-up-body {
            height: 2202px;
        }
    
        #menu-signup {
            letter-spacing: 2px;
            font-size: 150px;
            margin-top: 40px;
            font: 53px;
        }
    
        #form-section {
            margin-left: 500px;
            font-size: 53px;
        }
    
        .legend {
            font-size: 88px;
        }
    
        .sign-up-form {
            max-width: 1000px;
            font-size: 53px;
        }
    
        .form-text {
            height: 65px;
            font-size: 53px;
        }
        .submit-button {
            padding: 35px 72px;
            font-size: 50px;
        }
        form h3 {
            font-size: 53px;
        }
        /* end of my sign-up.html queries (2560px)*/
}
@media screen and (max-width:2000px) {
    /* start of my index.html queries  for screens above 1440px and below 2560px */
    footer > h1, h2, h3{
        font-size: 30px
        }
        .Social-networks {
            font-size: 55px;
        }
        #menu {
            font-size: 80px;
        }
        
        #menu li {
            list-style-type: none;
            display: inline-block;
            margin-left: 50px;
        }
        #pre-oreder-section {
            width: 880px;
            height: 520px;
        }
        
        #pre-order-div {
            width: 400px;
            height: 200px;
            margin-top: 500px;
            margin-left: 250px;
        }
        
        #pre-order-div h1 {
            font-size: 30px;
        }
        
        
        #pre-order-div p {
            font-size: 20px;
        }
        
        #pre-order-div span {
            font-size: 25px;
        }

        #content {
            height: 600px;
        margin-left: 100px;
        }
        
        #content-image{
            width: 550px;
            height: 530px;
            margin-left: 1100px;
        }
        
        #content-paragrph {
            width: 600px;
            height: 495px;
            margin-top: 0px;
            margin-left: 170px;
        }
        
        #content-paragrph p {
            font-size: 28px;
        }
        #content-paragrph > h3, h2{
            font-size: 37px;
        }
        
        #long-paragraph {
            height: 300px;
            padding: 0px;
            margin: 0px;
            margin-top: 0px;
            }
            
            #long-paragraph-div {
            width: 1100px;
            height: 300px;
            margin: auto;
            }
            
            #long-paragraph-div p {
            font-size: 32px;
            }
            
            #long-paragraph-div > h2{
                font-size: 37px;
            }
        /* End of my index.html queries (2000px) */
/* start of my more.html queries (2000px)*/
#Trailer-content-div-3 > p{
    font-size: 30px;
}
#Trailer-content-div2 > p{
    font-size: 30px;
}
#Trailer-content {
    height: 350px;
}

#Trailer-content-div {
    height: 300px;
    margin-left: 178px;
}
#Trailer-content-div > p{
    font-size: 27px;
}

#video-div{
    margin-left: 300px;
}

#Trailer-content-2 {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
#Trailer-content-div > h2{
    font-size: 30px;
}
#Trailer-content-div-3 {
    margin-left: 1160px;
}
/* end of my more.html queries (2000px)*/
/* start of my sign-up.html queries (2000px)*/
#menu-signup {
    font-size: 90px;
}

#form-section {
    margin-left: 200px;
    font-size: 33px;
}

.legend {
    font-size: 38px;
}

.sign-up-form {
    max-width: 650px;
    font-size: 23px;
}

.form-text {
    font-size: 33px;
}
.submit-button {
    padding: 15px 32px;
}

form h3 {
    font-size: 33px;
}
/* end of my sign-up.html queries (2000px)*/
}
@media screen and (max-width:1600px) {
/* start of my index.html queries (1600px)*/
#footer{
    margin-top: 0px;
}
footer > h1, h2, h3{
    font-size: 35px
    }
    
#menu {
    font-size: 60px;
}
#content {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 205px;
position: relative;
}

#content-image{
    width: 600px;
    height: 510px;
    margin-left: 800px;
    padding-top: 0px;
}

#content-paragrph {
    width: 700px;
    height: 500px;
    margin-left: 20px;
}

#content-paragrph p {
    text-align: left;
    font-size: 30px;
}
#content-paragrph > h3, h2{
    font-size: 35px;
}
#long-paragraph {
    height: 400px;
    margin-top: 190px;
    }
    
    #long-paragraph-div {
    width: 1000px;
    }
    
    #long-paragraph-div p {
    font-size: 30px;
    }
    
    #long-paragraph-div > h2{
        font-size: 35px;
    }

    #pre-oreder-section {
        width: 1280px;
        height: 720px;
    }
    
    #pre-order-div {
        width: 500px;
        height: 300px;
        margin-left: 650px;
    }
    
    #pre-order-div h1 {
        font-size: 60px;
    }
    
    
    #pre-order-div p {
        font-size: 20px;
    }
    
    #pre-order-div span {
        font-size: 35px;
    }
/* End of my index.html queries (1600px)*/
/* start of my more.html queries (1600px)*/
#Trailer-content-div-3 > p{
    font-size: 22px;
}
#Trailer-content-div > p{
font-size: 22px;
}
#Trailer-content {
    height: 330px;
}

#Trailer-content-div {
    height: 270px;
    margin-left: 128px;
}

#video-div{
    margin-left: -0px;
}
#Trailer-content-2 {
    height: 250px;
    margin-bottom: 50px;
}

#Trailer-content-div2 {
    height: 200px;
}
#Trailer-content-div2 > p{
    font-size: 20px;
}

#Trailer-content-div-3 {
    width: 40%;
    height: 200px;
    margin-top: 25px;
    margin-left: 860px;
}
/* end of my more.html queries (1600px)*/
/* start of my sign-up.html queries (1600px)*/
#form-section {
    margin-top: 150px;
}

.sign-up-form {
    font-size: 35px;
}
/* end of my sign-up.html queries (1600px)*/
}
@media screen and (max-width:1024px) {
    /* Start of my index.html queries (1024px)*/
    #footer{
        margin-top: 0px;
    }
    footer > h1, h2, h3{
        font-size: 30px
        }
        
        .Social-networks {
        font-size: 55px;
        }
        #pre-oreder-section {
            width: 925px;
            height: 725px;
            background-size: 100%;
        }
        
        #pre-order-div {
            width: 425px;
            margin-top: 360px;
            margin-left: 340px;
        }
        #content {
            margin-top: 05px;
        }
        
        #content-image{
            width: 500px;
            height: 410px;
            margin-left: 530px;
        }
        
        #content-paragrph {
            width: 500px;
            height: 400px;
        }
        
        #content-paragrph p {
            font-size: 22px;
        }
        #content-paragrph > h3{
            font-size: 25px;
        }
        #long-paragraph {
            margin-top: 90px;
            }
            
            #long-paragraph-div {
            height: 250px;
            }
            
            #long-paragraph-div p {
            font-size: 25px;
            }
            
            #long-paragraph-div > h2{
                font-size: 30px;
            }
        /*  End of my index.html queries (1024px)*/
        /* start of my more.html queries (1024px)*/
      
        #video-div{
            margin-left: -230px;
        }
        #Trailer-content {
            width: 100%;
        }
        
        #Trailer-content-2 {
            width: 100%;
        }  
        #Trailer-content-div-3 > p{
            font-size: 18px;
        }
        #Trailer-content-div > p{
            font-size: 18px;
        }
        #Trailer-content-div-3 {
            margin-left: 580px;
        }
/* end of my more.html queries (1024px)*/
/* start of my sign-up.html queries (1024px)*/
#menu-signup {
    font-size: 60px;
}

#form-section {
    margin-top: 300px;
}

.sign-up-form {
    font-size: 23px;
}
/* end of my sign-up.html queries (1024px)*/
}
@media screen and (max-width:768px) {
    /* Start of my index.html queries (768px)*/
    #footer {
        width: 100%;
        height: 400px;
        background: url(../css/images/footer-image.jpg) no-repeat center center;
        margin-top: 180px;
    }
    #footer  h1, h2, h3{
    font-size: 25px
    }
    
    .Social-networks {
    font-size: 45px;
    }
    .Social-networks i {
    margin: 10px;
    padding: 10px;
    }
    #pre-oreder-section {
        width: 425px;
        height: 425px;
    } 
    #pre-order-div {
        width: 420px;
        margin-top: 260px;
        margin-left: 0px;
    }
    
    #menu {
        font-size: 29px;
        margin-top: 20px;
        text-align: left;
        }
        #menu ul{
            margin-left: -50px;
        }
        #menu li {
        margin: 5px;
        }
        
        #content {
            width: 333px;
            margin-top: 155px;
            }
            
            #content-image {
            background: url();
            margin-left: 0;
            width: 0px;
            height: 0px;
            }
            
            #content-paragrph {
            width: 300px;
            height: 750px;
            margin-top: 5px;
            display: inline-block;
            }
            #content-paragrph > h2,h3{
            font-size: 35px;
            } 
            
            #content-paragrph p {
            font-size: 25px;
            }

            #long-paragraph {
                margin-top: 170px;
                margin-top: 390px;
                }
                
                #long-paragraph-div {
                width: 300px;
                height: 400px;
                }
                
                #long-paragraph-div p {
                font-size: 20px;
                }
         /*  End of my index.html queries (768px)*/
         /* start of my more.html queries (768px)*/
         #iframe-id{
            display: none;
        }
        
        #video-div > h2{
            display: none;
        }
        #Trailer-content {
            width: 80%;
            height: 1050px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        
        #Trailer-content-div {
            height: 1000px;
            margin-left: 00px;
        }
        #Trailer-content-div > h2{
            font-size: 30px;
        }
        #Trailer-content-div > p{
        font-size: 25px;
        }
        #header-nav {
            width: 100%;
            height: 150px;
            margin-top: 0px;
            position: relative;
            margin-bottom: 50px;
        } 
        #Trailer-content-2 {
            width: 80%;
            height: 1050px;
            margin: 0 auto;
        }
        
        #Trailer-content-div2 {
            width: 80%;
            height: 450px;
            position: relative;
            display: block;
            margin: 0 auto;
        }
        
        #Trailer-content-div-3 {
            width: 80%;
            height: 470px;
            margin-top: 55px;
            margin-left: 35px;
            position: relative;
            display: block;
            margin: 0 auto;
            margin-top: 50px;
        }
        #Trailer-content-div-3 > h2{
        font-size: 30px;
        }
        #Trailer-content-div-3 > p{
            font-size: 25px;
            }
/* end of my more.html queries (768px)*/
/* start of my sign-up.html queries (768px)*/
#menu-signup {
    letter-spacing: 0px;
    font-size: 30px;
    margin-left: 00px;
}

#form-section {
    margin-top: 100px;
    margin-left: 00px;
}

.legend {
    font-size: 35px;
}

.sign-up-form {
    max-width: 500px;
}

/* end of my sign-up.html queries (768px)*/
            }
@media screen and (max-width:425px) {
/* start of my index.html queries (425px)*/
#footer{
    margin-bottom: 0px;
}
#footer  h1, h2, h3{
font-size: 20px
}

.Social-networks {
font-size: 25px;
}
.Social-networks i {
margin: 10px;
padding: 10px;
}
#pre-oreder-section{
  width: 0px;
    background-image: url();
    }
    #pre-order-div {
    width: 333px;
    height: 400px;
    margin-top: 0px;
    margin-left: -170px;
    }

    #menu {
        font-size: 27px;
        margin-left: 60px;
        }
        #menu li {
        margin: 5px;
        }

        #content {
            margin-top: 65px;
            }
            
            #content-paragrph {
            height: 500px;
            }

            #content-paragrph > h2,h3{
            font-size: 25px;
            } 
            
            #content-paragrph p {
            font-size: 20px;
            }

            #long-paragraph {
                margin-top: 250px;
                }
                
                #long-paragraph-div {
                margin-left: 40px; 
                }
                
/* end of my index.html queries (425px)*/
/* start of my more.html queries (425px)*/
#Trailer-content {
    width: 100%;
    height: 1350px;
}

#Trailer-content-div {
    width: 100%;
    height: 1300px;
}
#Trailer-content-div > h2{
    font-size: 35px;
}

#Trailer-content-2 {
    width: 100%;
}

#Trailer-content-div2 {
    width: 100%;
    height: 400px;
    margin-left: 0px;
}

#Trailer-content-div-3 {
    width: 100%;
    height: 400px;
    margin-top: 125px;
    margin-left: 0px;
}
/* end of my more.html queries (425px)*/
/* start of my sign-up.html queries (425px)*/
#menu-signup {
    font-size: 20px;
}

#form-section {
    margin-top: 100px;
}

.legend {
    font-size: 25px;
}

.sign-up-form {
    max-width: 350px;
    font-size: 23px;
    padding: 3px;
}

.submit-button {
    font-size: 20px;
}

.form h3 {
    font-size: 23px;
}
/* end of my sign-up.html queries (425px)*/
}
@media screen and (max-width:375px) {
/*Start of my index.html queries  (375px)*/

footer  h1, h2, h3{
font-size: 20px
}

.Social-networks {
font-size: 35px;
}
.Social-networks i {
margin: 10px;
padding: 10px;
}

#pre-order-div {
height: 300px;
position: absolute;
text-align: center;
margin-left: -155px;
}

#pre-order-div h2 {
font-size: 50px;
}

#menu {
font-size: 27px;
margin-top: 20px;
margin-left: 00px;
}
#menu ul{
    margin-left: 0px;
}

#content-paragrph {
margin-left: 0px;
}

#long-paragraph {
padding: 0px;
margin-top: 00px;
position: relative;
margin: 0px;
margin-top: 390px;
}

#long-paragraph-div {
margin-left: 20px; 
}

#long-paragraph-div p {
font-size: 20px;
}

#long-paragraph-div span {
font-size: 25px;
}
/*End of my index.html queries (375px)*/
}
@media screen and (max-width:320px) {
    /* Start of my index.html queries (320px)*/
    #footer{
        margin-bottom: 0px;
    }
footer > h1, h2, h3{
font-size: 20px
}
.Social-networks {
    font-size: 35px;
}
.Social-networks i {
    margin: 10px;
   padding: 10px;
}

#pre-order-div {
    width: 300px;
    height: 340px;
}

#pre-order-div h2 {
    font-size: 50px;
}

#pre-order-div span { 
    font-size: 30px;  
}

#menu {
    font-size: 25px;
    margin-left: -5px;
}

#content {
    width: 310px;
    height: 300px;
    margin-top: 65px;
}

#content-paragrph {
    height: 600px;
}
#content-paragrph > h2,h3{
font-size: 30px;
} 

#content-paragrph p {
    text-align: left;
    font-size: 20px;
}
#long-paragraph {
    width: 310px;
}

#long-paragraph-div {
   margin: 0px;
    width: 310px;
}

#long-paragraph-div p {
    font-size: 20px;
}
/* End of my index.html queries (320px)*/
/* Start of my more.html queries (320px)*/
#Trailer-content-div > h2{
    font-size: 30px;
}
#Trailer-content-div > p{
font-size: 22px;
}
#Trailer-content-2 {
    height: 1050px;
}

#Trailer-content-div-3 > p{
    font-size: 22px;
    }
#Trailer-content-div2 > h2{
    font-size: 30px;
}
/* End of my more.html queries (320px)*/
/* start of my sign-up.html queries (320px)*/
#menu-signup {
    font-size: 18px;
}
/* end of my sign-up.html queries (320px)*/
}
@media screen and (max-width:280px){
/* This is for the Galaxy Fold Device srceen size (280px)*/
/* start of my index.html queries (280px)*/
#pre-order-div {
    width: 275px;
    margin-left:-140px;
}

#menu {
    font-size: 20px;
}

#content {
    width: 270px;
    height: 300px;
}
#content-paragrph {
    width: 270px;
}

#long-paragraph {
    width: 270px;
}
#long-paragraph-div {
     width: 270px;
 }
#footer{
    margin-bottom: 0px;
}
footer > h1, h2, h3{
font-size: 20px
}
.Social-networks {
font-size: 35px;
}
.Social-networks i {
margin: 5px;
padding: 5px;
}
/* end of my index.html queries (280px) */
/* start of my more.html queries (280px) */
#Trailer-content {
    width: 270px;
    height: 1150px;
}

#Trailer-content-div {
    width: 270px;
    height: 1100px;
}

#Trailer-content-div-3 > h2{
font-size: 25px;
}
#Trailer-content-div-3 > p{
    font-size: 20px;
    }
/* end of my more.html queries (280px)*/
/* start of my sign-up.html (280px) queries */
#menu-signup {
    margin-left: -40px;
}
/* end of my sign-up.html (280px) queries */
}