@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cabin, sans-serif;
    background-color: rgba(5, 59, 129, 1.0);
}

#sign-up-body {
    height: 1100px;
    width: 100%;
    margin-bottom: 190px;
    position: absolute;
    background: url(../css/images/sign-up-background.jpg) no-repeat center center;
    

}

/*  Header nav   */
.headers {
    color: orange;
    font-size: 25px;
    text-align: center;
}

.Pre-Order {
    color: white;
    font-size: 60px;
}

#header-nav {
    width: 100%;
    height: 350px;
    margin-top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgb(208, 243, 55);
    position: absolute;
}


/*  Navigation */

#menu {
    letter-spacing: 4px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: orange;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 3px dashed #fff;

}

.active {
    border-bottom: 2px solid #fff;
}

/* Sign-up Navigation */
#menu-signup {
    letter-spacing: 4px;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu-signup li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: rgb(208, 243, 55);
}

#menu-signup a {
    text-decoration: none;
    color: inherit;
}

#menu-signup a:hover {
    border: 3px dashed #fff;
}

#active {
    border-bottom: 3px solid #fff;
}

/*  Fifa picture and also cover for it. 'the cover is meant to be outside the image by the way' */

#pre-oreder-section {
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url(../css/images/fifa-22.jpg);
    background-repeat: no-repeat;
    position: relative;

}


#pre-order-div {
    width: 500px;
    height: 300px;
    position: absolute;
    margin-top: 500px;
    margin-left: 850px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
    text-align: center;
}

#pre-order-div h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;

}


#pre-order-div p {
    color: #fff;
    font-size: 20px;
    text-align: center;

}

#pre-order-div span {
    font-size: 35px;
    color: orange;
    text-align: center;
}

/* Home page content  */

#content {
    width: 95%;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;


}

#content-image {
    width: 40%;
    height: 400px;
    background-color: salmon;
    background: url(../css/images/content-pic.png) no-repeat;
    display: inline-block;
    margin-left: 110px;
    padding-top: 250px;


}

#content-paragrph {
    width: 40%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 25px;
    display: inline-block;
    margin-left: 100px;
    color: orange;
    text-align: center;
    border: 3px solid orange;
}

#content-paragrph p {
    text-align: left;
    font-size: 18px;
    color: #fff;
}



/*  Long content goes here!   */

#long-paragraph {
    width: 95%;
    height: 120px;
    margin: 0 auto;
    margin-top: 170px;
    align-items: center;
}

#long-paragraph-div {
    width: 75%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    color: orange;
    border: 4px solid orange;
}

#long-paragraph-div p {
    color: #fff;
    font-size: 20px;
}

#long-paragraph-div span {
    color: orange;
    font-size: 25px;
}

/*  Footer */

#footer {
    width: 100%;
    height: 400px;
    background: url(../css/images/footer-image.jpg) no-repeat center center;
    margin-top: 180px;
    background-size: 100%;
}

#footer h1 {
    color: rgb(208, 243, 55);
    text-align: center;
}

#footer h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    text-transform: uppercase;
}

#footer h3 {
    color: rgb(208, 243, 55);
    text-align: center;
}

.Social-networks {
    font-size: 120px;
    text-align: center;
}

.Social-networks>li {
     display: inline;
} 

.Social-networks i {
    color: rgb(208, 243, 55);
    margin: 35px;
    padding: 20px;
}

.Social-networks i:hover {
    color: orange;
}

.Social-networks a {
    text-decoration: none;
}


/* video and title */
#Trailer-title {
    color: orange;
    font-size: 110px;
    text-align: center;
    margin-top: 455px;
    margin-left: 350px;
    position: absolute;
    text-transform: capitalize;
}




/* Trailer content + div  */
#Trailer-content {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 80%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 128px;
    margin-top: 25px;
    position: absolute;



}

/* Second Trailer content + 2 other div's   */

#Trailer-content-2 {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}

#Trailer-content-div2 {
    width: 50%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    display: inline;
}

#Trailer-content-div-3 {
    width: 40%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 850px;
    position: absolute;
    display: inline;
}

#Trailer-content-div h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    font-size: 25px;
}

#Trailer-content-div p {
    color: #fff;
    font-size: 20px;
}

#Trailer-content-div2 h2 {
    color: rgb(208, 243, 55);
    text-align: center;
    font-size: 35px;
}

#Trailer-content-div2 p {
    color: #fff;
    font-size: 23px;
}

#Trailer-content-div-3 {
    color: rgb(208, 243, 55);
    font-size: 30px;
    text-align: center;
}

#Trailer-content-div-3 p {
    color: #fff;
    font-size: 20px;
}

/*  Form  */
#form-section {
    margin-top: 300px;
    margin-left: 200px;
}

.legend {
    font-size: 28px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 450px;
    position: absolute;

    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 23px;
}


/* New media Queries*/

@media screen and (max-width:2560px) {
    /* start of my index.html queries */
    footer > h1, h2, h3{
        font-size: 50px
        }
        #footer{
            background-size: 100%;
        }
        .Social-networks {
            font-size: 65px;
        }
        #menu {
            letter-spacing: 4px;
            font-size: 100px;
            margin-top: 20px;
            margin-left: 100px;
        }
        
        #menu li {
            list-style-type: none;
            display: inline-block;
            margin-left: 50px;
            color: orange;
        }
        #pre-oreder-section {
            width: 1880px;
            height: 1120px;
            margin: 0 auto;
            margin-top: 40px;
            background-image: url(../css/images/fifa-22.jpg);
            background-repeat: no-repeat;
            position: relative;
            background-size: 100% ;
        
        }
        
        
        #pre-order-div {
            width: 800px;
            height: 400px;
            position: absolute;
            margin-top: 700px;
            margin-left: 1150px;
            background-color: rgba(0, 0, 0, 0.7);
            border: 3px solid orange;
            text-align: center;
        }
        
        #pre-order-div h1 {
            color: #fff;
            font-size: 80px;
            text-align: center;
        
        }
        
        
        #pre-order-div p {
            color: #fff;
            font-size: 50px;
            text-align: center;
        
        }
        
        #pre-order-div span {
            font-size: 55px;
            color: orange;
            text-align: center;
        }

        #content {
            width: 100%;
            height: 800px;
            margin: 0 auto;
            margin-top: 205px;
        position: relative;
        
        }
        
        #content-image{
            width: 800px;
            height: 780px;
            background-color: salmon;
            background: url(../css/images/content-pic.png) no-repeat;
            display: inline-block;
            margin-left: 1400px;
            padding-top: 0px;
            background-size: 100%;
            position: absolute;
        
        }
        
        #content-paragrph {
            width: 800px;
            height: 770px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 0px;
           position: absolute;
            margin-left: 370px;
            color: orange;
            text-align: center;
            border: 3px solid orange;
        }
        
        #content-paragrph p {
            text-align: left;
            font-size: 42px;
            color: #fff;
        }
        #content-paragrph > h3, h2{
            font-size: 47px;
        }
        #long-paragraph {
            width: 100%;
            height: 400px;
            padding: 0px;
            position: relative;
            margin: 0px;
            margin-top: 90px;
            }
            
            #long-paragraph-div {
            margin-left: 60px; 
            width: 1600px;
            height: 400px;
            background-color: rgba(0, 0, 0, 0.7);
            color: orange;
            border: 4px solid orange;
            margin: auto;
            }
            
            #long-paragraph-div p {
            color: #fff;
            font-size: 42px;
            }
            
            #long-paragraph-div > h2{
                font-size: 47px;
            }
        /* End of my index.html queries */
        /* start of my more.html queries */
        #Trailer-content-div-3 > p{
            font-size: 22px;
        }
        #Trailer-content {
            width: 100%;
            height: 420px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
        }
        
        #Trailer-content-div {
            width: 80%;
            height: 360px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-left: 268px;
            margin-top: 25px;
            position: absolute;
        }
        #Trailer-content-div > p{
            font-size: 35px;
        }
        
        #video-div{
            margin-left: 600px;
        
        }
        #video-div > h2{
           
        }
        
        #Trailer-content-2 {
            width: 100%;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
        
        }
        #Trailer-content-div > h2{
            font-size: 35px;
        }
        
        #Trailer-content-div2 {
            width: 50%;
            height: 250px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-top: 25px;
            margin-left: 50px;
            position: absolute;
            display: inline;
        }
        #Trailer-content-div2 > p{
            font-size: 35px;
        
        }
        #Trailer-content-div2 > h2{
            font-size: 35px;
        
        }

        #Trailer-content-div-3 > p{
            font-size: 35px;
        
        }
        #Trailer-content-div-3 > h2{
            font-size: 35px;
        
        }
        
        #Trailer-content-div-3 {
            width: 40%;
            height: 250px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-top: 25px;
            margin-left: 1430px;
            position: absolute;
            display: inline;
        }
        
        /* end of my more.html queries */
        /* Start of my sign-up.html queries */
        #sign-up-body {
            height: 2202px;
            width: 100%;
            margin-bottom: 190px;
            position: absolute;
            /*background: url(../css/images/sign-up-background.jp); */
    
        }
    
        #menu-signup {
            letter-spacing: 2px;
            font-size: 150px;
            margin-top: 40px;
            margin-left: 100px;
            font: 53px;
        }
    
        #form-section {
            margin-top: 300px;
            margin-left: 500px;
            font-size: 53px;
        }
    
        .legend {
            font-size: 88px;
        }
    
        .sign-up-form {
            margin: 150px 10% 0 0;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.7);
            border: 2px solid rgb(208, 243, 55);
            border-radius: 2px;
            max-width: 1000px;
            position: absolute;
            font-size: 53px;
            padding: 30px;
        }
    
        .form-text {
            background: transparent;
            color: #fafafa;
            width: 100%;
            height: 65px;
            margin: 5px 0 20px 0;
            border: 1px solid #fafafa;
            border-radius: 2px;
            font-size: 53px;
    
        }
    
        .form-text:hover {
            border-color: rgb(208, 243, 55);
        }
    
        .submit-button {
            margin-top: 20px;
            border-radius: 2px;
            padding: 35px 72px;
            text-align: center;
            font-size: 50px;
            background-color: rgb(208, 243, 55);
            color: #fafafa;
            display: block;
        }
    
        .submit-button:hover {
            background-color: #fafafa;
            color: rgb(208, 243, 55);
        }
    
        form h3 {
            color: rgb(208, 243, 55);
            font-size: 53px;
        }
        /* end of my sign-up.html queries */
}
@media screen and (max-width:2000px) {
    /* start of my index.html queries  for screens above 1440px and below 2560px*/
    footer > h1, h2, h3{
        font-size: 30px
        }
        #footer{
           
            background-size: 100%;
        }
        .Social-networks {
            font-size: 55px;
        }
        #menu {
            letter-spacing: 4px;
            font-size: 80px;
            margin-top: 20px;
            margin-left: 100px;
        }
        
        #menu li {
            list-style-type: none;
            display: inline-block;
            margin-left: 50px;
            color: orange;
        }
        #pre-oreder-section {
            width: 880px;
            height: 520px;
            margin: 0 auto;
            margin-top: 40px;
            background-image: url(../css/images/fifa-22.jpg);
            background-repeat: no-repeat;
            position: relative;
            background-size: 100% ;
        
        }
        
        
        #pre-order-div {
            width: 400px;
            height: 200px;
            position: absolute;
            margin-top: 500px;
            margin-left: 250px;
            background-color: rgba(0, 0, 0, 0.7);
            border: 3px solid orange;
            text-align: center;
        }
        
        #pre-order-div h1 {
            color: #fff;
            font-size: 30px;
            text-align: center;
        
        }
        
        
        #pre-order-div p {
            color: #fff;
            font-size: 20px;
            text-align: center;
        
        }
        
        #pre-order-div span {
            font-size: 25px;
            color: orange;
            text-align: center;
        }

        #content {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            margin-top: 255px;
        position: relative;
        margin-bottom: 0px;
        
        }
        
        #content-image{
            width: 500px;
            height: 530px;
            background-color: salmon;
            background: url(../css/images/content-pic.png) no-repeat;
            display: inline-block;
            margin-left: 800px;
            padding-top: 0px;
            background-size: 100%;
            position: absolute;
        
        }
        
        #content-paragrph {
            width: 600px;
            height: 495px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 0px;
           position: absolute;
            margin-left: 170px;
            color: orange;
            text-align: center;
            border: 3px solid orange;
        }
        
        #content-paragrph p {
            text-align: left;
            font-size: 28px;
            color: #fff;
        }
        #content-paragrph > h3, h2{
            font-size: 37px;
        }
        
        #long-paragraph {
            width: 100%;
            height: 300px;
            padding: 0px;
            position: relative;
            margin: 0px;
            margin-top: 0px;
            }
            
            #long-paragraph-div {
            margin-left: 60px; 
            width: 1100px;
            height: 300px;
            background-color: rgba(0, 0, 0, 0.7);
            color: orange;
            border: 4px solid orange;
            margin: auto;
            }
            
            #long-paragraph-div p {
            color: #fff;
            font-size: 32px;
            }
            
            #long-paragraph-div > h2{
                font-size: 37px;
            }
        /* End of my index.html queries */
/* start of my more.html queries */
#Trailer-content-div-3 > p{
    font-size: 22px;
}
#Trailer-content {
    width: 100%;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 80%;
    height: 300px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 128px;
    margin-top: 25px;
    position: absolute;
}
#Trailer-content-div > p{
    font-size: 35px;
}

#video-div{
    margin-left: 00px;

}
#video-div > h2{
   
}

#Trailer-content-2 {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}
#Trailer-content-div > h2{
    font-size: 35px;
}

#Trailer-content-div2 {
    width: 50%;
    height: 250px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    display: inline;
}
#Trailer-content-div2 > p{
    font-size: 20px;

}
#Trailer-content-div2 > h2{
    font-size: 25px;

}

#Trailer-content-div-3 > p{
    font-size: 20px;

}
#Trailer-content-div-3 > h2{
    font-size: 25px;

}

#Trailer-content-div-3 {
    width: 40%;
    height: 250px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 860px;
    position: absolute;
    display: inline;
}


#Trailer-content-div > p{
    font-size: 20px;
}
#Trailer-content-div > h2{
    font-size: 25px;
}


/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 2px;
    font-size: 90px;
    margin-top: 40px;
    margin-left: 100px;

}

#form-section {
    margin-top: 300px;
    margin-left: 200px;
    font-size: 33px;
}

.legend {
    font-size: 38px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 650px;
    position: absolute;
    font-size: 23px;
    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 65px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-size: 33px;

}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 33px;
}
/* end of my sign-up.html queries */
}
@media screen and (max-width:1440px) {
/* start of my index.html queries */
#footer{
    margin-top: 0px;
    background-size: 100%;
}
footer > h1, h2, h3{
    font-size: 35px
    }
    
    .Social-networks {
    font-size: 55px;
    }
#menu {
    letter-spacing: 4px;
    font-size: 60px;
    margin-top: 20px;
    margin-left: 100px;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    color: orange;
}
#content {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 205px;
position: relative;

}

#content-image{
    width: 600px;
    height: 510px;
    background-color: salmon;
    background: url(../css/images/content-pic.png) no-repeat;
    display: inline-block;
    margin-left: 800px;
    padding-top: 0px;
    background-size: 100%;
    position: absolute;

}

#content-paragrph {
    width: 700px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 0px;
   position: absolute;
    margin-left: 20px;
    color: orange;
    text-align: center;
    border: 3px solid orange;
}

#content-paragrph p {
    text-align: left;
    font-size: 30px;
    color: #fff;
}
#content-paragrph > h3, h2{
    font-size: 35px;
}
#long-paragraph {
    width: 100%;
    height: 400px;
    padding: 0px;
    position: relative;
    margin: 0px;
    margin-top: 190px;
    }
    
    #long-paragraph-div {
    margin-left: 60px; 
    width: 1000px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    border: 4px solid orange;
    margin: auto;
    }
    
    #long-paragraph-div p {
    color: #fff;
    font-size: 30px;
    }
    
    #long-paragraph-div > h2{
        font-size: 35px;
    }

    #pre-oreder-section {
        width: 1280px;
        height: 720px;
        margin: 0 auto;
        margin-top: 40px;
        background-image: url(../css/images/fifa-22.jpg);
        background-repeat: no-repeat;
        position: relative;
    
    }
    
    
    #pre-order-div {
        width: 500px;
        height: 300px;
        position: absolute;
        margin-top: 500px;
        margin-left: 650px;
        background-color: rgba(0, 0, 0, 0.7);
        border: 3px solid orange;
        text-align: center;
    }
    
    #pre-order-div h1 {
        color: #fff;
        font-size: 60px;
        text-align: center;
    
    }
    
    
    #pre-order-div p {
        color: #fff;
        font-size: 20px;
        text-align: center;
    
    }
    
    #pre-order-div span {
        font-size: 35px;
        color: orange;
        text-align: center;
    }

/* End of my index.html queries */
/* start of my more.html queries */
#Trailer-content-div-3 > p{
    font-size: 22px;
}
#Trailer-content {
    width: 100%;
    height: 330px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 80%;
    height: 270px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 128px;
    margin-top: 25px;
    position: absolute;
}


#video-div{
    margin-left: -0px;

}
#video-div > h2{
   
}

#Trailer-content-2 {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;

}

#Trailer-content-div2 {
    width: 50%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 50px;
    position: absolute;
    display: inline;
}
#Trailer-content-div2 > p{
    font-size: 20px;

}

#Trailer-content-div-3 {
    width: 40%;
    height: 200px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 830px;
    position: absolute;
    display: inline;
}

/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 2px;
    font-size: 90px;
    margin-top: 40px;
    margin-left: 100px;

}

#form-section {
    margin-top: 150px;
    margin-left: 200px;
    font-size: 33px;
}

.legend {
    font-size: 38px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 650px;
    position: absolute;
    font-size: 35px;
    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 65px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-size: 33px;

}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 33px;
}
/* end of my sign-up.html queries */
}
@media screen and (max-width:1024px) {
    /* Start of my index.html queries */
    #footer{
        margin-top: 0px;
    }
    footer > h1, h2, h3{
        font-size: 30px
        }
        
    
        .Social-networks {
        font-size: 55px;
        }
        #pre-oreder-section {
            width: 925px;
            height: 725px;
            margin: 0 auto;
            margin-top: 40px;
            background: url(../css/images/fifa-22.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            position: relative;
        
        }
        
        
        #pre-order-div {
            width: 425px;
            height: 300px;
            position: absolute;
            margin-top: 360px;
            margin-left: 340px;
            background-color: rgba(0, 0, 0, 0.7);
            border: 3px solid orange;
            text-align: center;
        }
        #content {
            width: 100%;
            height: 400px;
            margin: 0 auto;
            margin-top: 05px;
        position: relative;
        
        }
        
        #content-image{
            width: 500px;
            height: 410px;
            background-color: salmon;
            background: url(../css/images/content-pic.png) no-repeat;
            display: inline-block;
            margin-left: 530px;
            padding-top: 0px;
            background-size: 100%;
            position: absolute;
        
        }
        
        #content-paragrph {
            width: 500px;
            height: 400px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 0px;
           position: absolute;
            margin-left: 20px;
            color: orange;
            text-align: center;
            border: 3px solid orange;
        }
        
        #content-paragrph p {
            text-align: left;
            font-size: 22px;
            color: #fff;
        }
        #content-paragrph > h3{
            font-size: 25px;
        }
        #long-paragraph {
            width: 100%;
            height: 400px;
            padding: 0px;
            position: relative;
            margin: 0px;
            margin-top: 90px;
            }
            
            #long-paragraph-div {
            margin-left: 60px; 
            width: 1000px;
            height: 250px;
            background-color: rgba(0, 0, 0, 0.7);
            color: orange;
            border: 4px solid orange;
            margin: auto;
            }
            
            #long-paragraph-div p {
            color: #fff;
            font-size: 25px;
            }
            
            #long-paragraph-div > h2{
                font-size: 30px;
            }

        /*  End of my index.html queries */
        /* start of my more.html queries */
      
        #video-div{
            margin-left: -230px;

        }
        #video-div > h2{
           
        }
        #Trailer-content {
            width: 100%;
            height: 330px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
        }
        
        #Trailer-content-div {
            width: 80%;
            height: 270px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-left: 128px;
            margin-top: 25px;
            position: absolute;
        }
        #Trailer-content-2 {
            width: 100%;
            height: 250px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
        
        }
        
        #Trailer-content-div2 {
            width: 50%;
            height: 200px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-top: 25px;
            margin-left: 50px;
            position: absolute;
            display: inline;
        }
        #Trailer-content-div2 > p{
            font-size: 20px;

        }
        #Trailer-content-div-3 > p{
            font-size: 20px;
        }
        
        #Trailer-content-div-3 {
            width: 40%;
            height: 200px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-top: 25px;
            margin-left: 580px;
            position: absolute;
            display: inline;
        }
        

/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 2px;
    font-size: 60px;
    margin-top: 40px;
    margin-left: 100px;

}

#form-section {
    margin-top: 300px;
    margin-left: 200px;
    font-size: 33px;
}

.legend {
    font-size: 38px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 650px;
    position: absolute;
    font-size: 23px;
    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 65px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-size: 33px;

}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 33px;
}

/* end of my sign-up.html queries */
}
@media screen and (max-width:768px) {
    /* Start of my index.html queries */
    #footer {
        width: 100%;
        height: 400px;
        background: url(../css/images/footer-image.jpg) no-repeat center center;
        margin-top: 180px;
    }
    #footer  h1, h2, h3{
    font-size: 25px
    }
    
    .Social-networks {
    font-size: 45px;
    }
    .Social-networks i {
    margin: 10px;
    padding: 10px;
    }
    #pre-oreder-section {
        width: 425px;
        height: 425px;
        margin: 0 auto;
        margin-top: 40px;
        background: url(../css/images/fifa-22.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
    
    }
    
    
    #pre-order-div {
        width: 425px;
        height: 300px;
        position: absolute;
        margin-top: 260px;
        margin-left: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        border: 3px solid orange;
        text-align: center;
    }
    
    #pre-order-div h1 {
        color: #fff;
        font-size: 60px;
        text-align: center;
    
    }
    
    
    #pre-order-div p {
        color: #fff;
        font-size: 20px;
        text-align: center;
    
    }
    
    #pre-order-div span {
        font-size: 35px;
        color: orange;
        text-align: center;
    }
    #menu {

        font-size: 29px;
        margin-top: 20px;
        text-align: left;
        
        }
        #menu ul{
            margin-left: -50px;
        }
        #menu li {
        list-style-type: none;
        display: inline;
        color: orange;
        margin: 5px;
        display: inline-block;
        margin: 0 auto;
        }
        
        #menu a {
        text-decoration: none;
        color: inherit;
        margin: auto;
        }
        
        #content {
            width: 333px;
            height: 400px;
            margin: 0 auto;
            margin-top: 155px;
            position: relative;
            
            }
            
            #content-image {
            width: 40%;
            height: 400px;
            background-color: salmon;
            background: url() no-repeat;
            display: inline-block;
            margin-left: 110px;
            padding-top: 250px;
            
            
            }
            
            #content-paragrph {
            width: 300px;
            height: 750px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 5px;
            display: inline-block;
            margin-left: 20px;
            color: orange;
            text-align: center;
            border: 3px solid orange;
            }
            #content-paragrph > h2,h3{
            font-size: 35px;
            } 
            
            #content-paragrph p {
            text-align: left;
            font-size: 25px;
            color: #fff;
            }
            #long-paragraph {
                width: 100%;
                height: 400px;
                padding: 0px;
                margin-top: 170px;
                position: relative;
                margin: 0px;
                margin-top: 390px;
                }
                
                #long-paragraph-div {
                margin-left: 60px; 
                width: 300px;
                height: 400px;
                background-color: rgba(0, 0, 0, 0.7);
                color: orange;
                border: 4px solid orange;
                margin: auto;
                }
                
                #long-paragraph-div p {
                color: #fff;
                font-size: 20px;
                }
                
                #long-paragraph-div span {
                color: orange;
                font-size: 25px;
                }
         /*  End of my index.html queries */
         /* start of my more.html queries */
         #iframe-id{
            display: none;
        }
        
        #video-div > h2{
            display: none;
        }
        #Trailer-content {
            width: 80%;
            height: 1050px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        
        #Trailer-content-div {
            width: 80%;
            height: 1000px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-left: 00px;
            margin-top: 25px;
            position: absolute;

           
        }
        #Trailer-content-div > h2{
            font-size: 30px;
        }
        #Trailer-content-div > p{
        font-size: 25px;
        }
        #header-nav {
            width: 100%;
            height: 150px;
            margin-top: 0px;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom: 3px solid rgb(208, 243, 55);
            position: relative;
            margin-bottom: 50px;
        } 
        #Trailer-content-2 {
            width: 80%;
            height: 1050px;
            background-color: rgba(0, 0, 0, 0.7);
            border-top: 3px solid orange;
            border-bottom: 3px solid orange;
            margin-top: 50px;
            position: relative;
            margin: 0 auto;
            margin-top: 50px;
           
            
        
        }
        
        #Trailer-content-div2 {
            width: 80%;
            height: 450px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-left: 50px;
            position: relative;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
            
          
        }
        
        #Trailer-content-div-3 {
            width: 80%;
            height: 470px;
            background-color: rgba(5, 59, 129, 1.0);
            margin-top: 55px;
            margin-left: 35px;
            position: relative;
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            
        }
        #Trailer-content-div-3 > h2{
        font-size: 30px;
        }
        #Trailer-content-div-3 > p{
            font-size: 25px;
            }

/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 0px;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 00px;

}

#form-section {
    margin-top: 100px;
    margin-left: 00px;
    font-size: 33px;
}

.legend {
    font-size: 38px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 500px;
    position: absolute;
    font-size: 23px;
    padding: 30px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 65px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-size: 33px;

}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 33px;
}

/* end of my sign-up.html queries */
            }
@media screen and (max-width:425px) {
/* start of my index.html queries */
#footer{
    margin-bottom: 0px;
}
#footer  h1, h2, h3{
font-size: 20px
}

.Social-networks {
font-size: 25px;
}
.Social-networks i {
margin: 10px;
padding: 10px;
}
#pre-oreder-section{
    width: 375px;
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url();
    background-repeat: no-repeat;
    position: relative;
    }
    #pre-order-div {
    width: 333px;
    height: 400px;
    position: absolute;
    margin-top: 0px;
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
    text-align: center;
    }

    #menu {

        font-size: 27px;
        margin-top: 20px;
        margin-left: 40px;
        
        }
        
        #menu li {
        list-style-type: none;
        display: inline;
        margin-left: 0px;
        color: orange;
        margin: 5px;
        display: inline-block;
        }
        
        #menu a {
        text-decoration: none;
        color: inherit;
        }

        #content {
            width: 333px;
            height: 400px;
            margin: 0 auto;
            margin-top: 155px;
            position: relative;
            
            }
            
            #content-image {
            width: 40%;
            height: 400px;
            background-color: salmon;
            background: url() no-repeat;
            display: inline-block;
            margin-left: 110px;
            padding-top: 250px;
            
            
            }
            
            #content-paragrph {
            width: 300px;
            height: 750px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 5px;
            display: inline-block;
            margin-left: 40px;
            color: orange;
            text-align: center;
            border: 3px solid orange;
            }
            #content-paragrph > h2,h3{
            font-size: 35px;
            } 
            
            #content-paragrph p {
            text-align: left;
            font-size: 25px;
            color: #fff;
            }
            #long-paragraph {
                width: 100%;
                height: 400px;
                padding: 0px;
                margin-top: 170px;
                position: relative;
                margin: 0px;
                margin-top: 390px;
                }
                
                #long-paragraph-div {
                margin-left: 60px; 
                width: 300px;
                height: 400px;
                background-color: rgba(0, 0, 0, 0.7);
                color: orange;
                border: 4px solid orange;
                }
                
                #long-paragraph-div p {
                color: #fff;
                font-size: 20px;
                }
                
                #long-paragraph-div span {
                color: orange;
                font-size: 25px;
                }
/* end of my index.html queries */
/* start of my more.html queries */
#iframe-id{
    display: none;
}

#video-div > h2{
    display: none;
}
#Trailer-content {
    width: 100%;
    height: 1350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 100%;
    height: 1300px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 0px;
    margin-top: 25px;
    position: absolute;
}
#Trailer-content-div > h2{
    font-size: 35px;
}
#Trailer-content-div > p{
font-size: 30px;
}
#header-nav {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgb(208, 243, 55);
    position: relative;
}

#Trailer-content-2 {
    width: 100%;
    height: 1050px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}

#Trailer-content-div2 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}

#Trailer-content-div-3 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 125px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}
#Trailer-content-div-3 > h2{
font-size: 30px;
}
#Trailer-content-div-3 > p{
    font-size: 25px;
    }

/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 0px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 00px;

}

#form-section {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 33px;
}

.legend {
    font-size: 18px;
}

.sign-up-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgb(208, 243, 55);
    border-radius: 2px;
    max-width: 350px;
    position: absolute;
    font-size: 23px;
    padding: 3px;
}

.form-text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 65px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-size: 13px;

}

.form-text:hover {
    border-color: rgb(208, 243, 55);
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(208, 243, 55);
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: rgb(208, 243, 55);
}

form h3 {
    color: rgb(208, 243, 55);
    font-size: 23px;
}

/* end of my sign-up.html queries */
}

@media screen and (max-width:375px) {
/*Start of my index.html queries  */
#footer{
    margin-bottom: 0px;
}
footer  h1, h2, h3{
font-size: 20px
}

.Social-networks {
font-size: 35px;
}
.Social-networks i {
margin: 10px;
padding: 10px;
}

#pre-oreder-section{
width: 375px;
height: 400px;
margin: 0 auto;
margin-top: 40px;
background-image: url();
background-repeat: no-repeat;
position: relative;
}
#pre-order-div {
width: 333px;
height: 400px;
position: absolute;
margin-top: 0px;
margin-left: 15px;
background-color: rgba(0, 0, 0, 0.7);
border: 3px solid orange;
text-align: center;
}

#pre-order-div h1 {
color: #fff;
font-size: 60px;
text-align: center;

}


#pre-order-div p {
color: #fff;
font-size: 20px;
text-align: center;

}

#pre-order-div span {
letter-spacing: 1px;
font-size: 35px;
color: orange;
text-align: center;
}
#menu {

font-size: 27px;
margin-top: 20px;
margin-left: 00px;

}
#menu ul{
    margin-left: 0px;
}
#menu li {
list-style-type: none;
display: inline;
margin-left: 20px;
color: orange;
margin: 5px;
display: inline-block;
}

#menu a {
text-decoration: none;
color: inherit;
}

#content {
width: 333px;
height: 400px;
margin: 0 auto;
margin-top: 155px;
position: relative;

}

#content-image {
width: 40%;
height: 400px;
background-color: salmon;
background: url() no-repeat;
display: inline-block;
margin-left: 110px;
padding-top: 250px;


}

#content-paragrph {
width: 300px;
height: 750px;
background-color: rgba(0, 0, 0, 0.7);
margin-top: 5px;
display: inline-block;
margin-left: 0px;
color: orange;
text-align: center;
border: 3px solid orange;
}
#content-paragrph > h2,h3{
font-size: 35px;
} 

#content-paragrph p {
text-align: left;
font-size: 25px;
color: #fff;
}
#long-paragraph {
width: 100%;
height: 400px;
padding: 0px;
margin-top: 170px;
position: relative;
margin: 0px;
margin-top: 390px;
}

#long-paragraph-div {
margin-left: 20px; 
width: 300px;
height: 400px;
background-color: rgba(0, 0, 0, 0.7);
color: orange;
border: 4px solid orange;
}

#long-paragraph-div p {
color: #fff;
font-size: 20px;
}

#long-paragraph-div span {
color: orange;
font-size: 25px;
}
/*End of my index.html queries */
/* Start of my more.html queries */
#iframe-id{
    display: none;
}

#video-div > h2{
    display: none;
}
#Trailer-content {
    width: 100%;
    height: 1350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 100%;
    height: 1300px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 0px;
    margin-top: 25px;
    position: absolute;
}
#Trailer-content-div > h2{
    font-size: 35px;
}
#Trailer-content-div > p{
font-size: 30px;
}
#header-nav {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgb(208, 243, 55);
    position: relative;
}

#Trailer-content-2 {
    width: 100%;
    height: 1050px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}

#Trailer-content-div2 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}

#Trailer-content-div-3 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 125px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}
#Trailer-content-div-3 > h2{
font-size: 30px;
}
#Trailer-content-div-3 > p{
    font-size: 25px;
    }

/* End of my more.html queries */
}
@media screen and (max-width:320px) {
    /* Start of my index.html queries */
    #footer{
        margin-bottom: 0px;
    }
footer > h1, h2, h3{
font-size: 20px
}
.Social-networks {
    font-size: 35px;
}
.Social-networks i {
    margin: 10px;
   padding: 10px;
}

#pre-oreder-section{
    width: 320px;
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
    background-image: url();
    background-repeat: no-repeat;
    position: relative;
}
#pre-order-div {
    width: 320px;
    height: 400px;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid orange;
    text-align: center;
}

#pre-order-div h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;

}


#pre-order-div p {
    color: #fff;
    font-size: 20px;
    text-align: center;

}

#pre-order-div span {
    letter-spacing: 1px;
    font-size: 35px;
    color: orange;
    text-align: center;
}
#menu {
    
    font-size: 25px;
    margin-top: 20px;
    margin-left: -5px;
    
}

#menu li {
    list-style-type: none;
    display: inline;
    margin-left: 0px;
    color: orange;
    margin: 5px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#content {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;
position: relative;

}

#content-image {
    width: 40%;
    height: 400px;
    background-color: salmon;
    background: url() no-repeat;
    display: inline-block;
    margin-left: 110px;
    padding-top: 250px;


}

#content-paragrph {
    width: 100%;
    height: 750px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    display: inline-block;
    margin-left: 00px;
    color: orange;
    text-align: center;
    border: 3px solid orange;
}
#content-paragrph > h2,h3{
font-size: 35px;
} 

#content-paragrph p {
    text-align: left;
    font-size: 25px;
    color: #fff;
}
#long-paragraph {
    width: 100%;
    height: 400px;
    padding: 0px;
    margin-top: 170px;
    position: relative;
    margin: 0px;
    margin-top: 390px;
}

#long-paragraph-div {
   margin: 0px;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    color: orange;
    border: 4px solid orange;
}

#long-paragraph-div p {
    color: #fff;
    font-size: 20px;
}

#long-paragraph-div span {
    color: orange;
    font-size: 25px;
}
/* End of my index.html queries */
/* Start of my more.html queries */

#iframe-id{
    display: none;
}

#video-div > h2{
    display: none;
}
#Trailer-content {
    width: 100%;
    height: 1350px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 100%;
    height: 1300px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 0px;
    margin-top: 25px;
    position: absolute;
}
#Trailer-content-div > h2{
    font-size: 35px;
}
#Trailer-content-div > p{
font-size: 30px;
}
#header-nav {
    width: 100%;
    height: 150px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid rgb(208, 243, 55);
    position: relative;
}

#Trailer-content-2 {
    width: 100%;
    height: 1050px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}

#Trailer-content-div2 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}

#Trailer-content-div-3 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 125px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}
#Trailer-content-div-3 > h2{
font-size: 30px;
}
#Trailer-content-div-3 > p{
    font-size: 25px;
    }
/* End of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: 0px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: 0px;

}

/* end of my sign-up.html queries */
}


@media screen and (max-width:280px){
/* This is for the Galaxy Fold Device srceen size */
/* start of my index.html queries */

#pre-order-div {
    width: 275px;
   
}

#menu {
    
    font-size: 20px;
}

#content {
    width: 270px;
    height: 400px;
    margin: 0 auto;
    margin-top: 155px;
position: relative;

}



#long-paragraph {
    width: 270px;
    height: 400px;
    padding: 0px;
    margin-top: 170px;
    position: relative;
    margin: 0px;
    margin-top: 390px;
}

#footer{
    margin-bottom: 0px;
}
footer > h1, h2, h3{
font-size: 20px
}
.Social-networks {
font-size: 35px;
}
.Social-networks i {
margin: 5px;
padding: 5px;
}
/* end of my index.html queries */
/* start of my more.html queries */
#Trailer-content {
    width: 270px;
    height: 1150px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;
}

#Trailer-content-div {
    width: 270px;
    height: 1100px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-left: 0px;
    margin-top: 25px;
    position: absolute;
}
#Trailer-content-div > h2{
    font-size: 30px;
}
#Trailer-content-div > p{
font-size: 25px;
}


#Trailer-content-2 {
    width: 100%;
    height: 1050px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    margin-top: 50px;
    position: relative;

}

#Trailer-content-div2 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 25px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}

#Trailer-content-div-3 {
    width: 100%;
    height: 400px;
    background-color: rgba(5, 59, 129, 1.0);
    margin-top: 125px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
}
#Trailer-content-div-3 > h2{
font-size: 25px;
}
#Trailer-content-div-3 > p{
    font-size: 20px;
    }

/* end of my more.html queries */
/* start of my sign-up.html queries */
#menu-signup {
    letter-spacing: -0px;
    font-size: 18px;
    margin-top: 40px;
    margin-left: -40px;
text-indent: 0px;

}
/* end of my sign-up.html queries */
}